.s-offers {
  background-color: #fff;
  padding: 0 10px;

  &__inner {
    max-width: 1170px;
    margin: auto;
    padding: 3rem 0;
  }

  &__title {
    font-size: 28px;
    line-height: 1em;
    text-align: center;
    margin-bottom: 1.5rem;

    @media (min-width: $screen-sm) {
      font-size: 40px;
      margin-bottom: 3rem;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -10px;
    margin-right: -10px;

    .s-item-card {
      padding: 0 10px 30px 10px;
      width: 100%;

      @media (min-width: $screen-sm) {
        flex: 0 0 50%;
        max-width: 50%;
      }

      @media (min-width: $screen-md) {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
      }
    }
  }
}