mixin offers()

  section#s-offers.s-offers
    .s-offers__inner
      h2.s-offers__title Все предложения
      .s-offers__list
        +item-card(
          'Песок 2',
          'Пески прочие',
          '1079 тыс м3',
          'Выборгский р-н, Ленинградской обл.',
          '8 000 000 руб.',
          'img/lic-p2.pdf',
          'img/sch-p2.pdf',
          'map-2'
        )
        +item-card(
          'Песок 3',
          'Пески прочие',
          '1616,9 тыс м3',
          'Волховский р-н, Ленинградской обл.',
          '25 000 000 руб.',
          'img/lic-p3.pdf',
          'img/sch-p3.pdf',
          'map-3'
        )
        +item-card(
          'Песок 4',
          'Пески прочие',
          '1671,8 тыс м3',
          'Кировский р-н, Ленинградской обл.',
          '16 000 000 руб.',
          'img/lic-p4.pdf',
          'img/sch-p4.pdf',
          'map-4'
        )
        +item-card(
          'Гранит 1',
          'Гранит',
          '139 га',
          'Выборгский р-н, Ленинградской обл.',
          '15 000 000 руб.',
          'img/lic-g1.pdf',
          'img/sch-g1.pdf',
          'map-5'
        )
        +item-card(
          'Гранит 2',
          'Гранит',
          '5785,9 тыс м3 (облицовочный камень), 33319,2 тыс м3 (строительный камень)',
          'Выборгский р-н, Ленинградской обл.',
          '70 000 000 руб.',
          'img/lic-g2.pdf',
          'img/sch-g2.pdf',
          'map-6'
        )
        +item-card(
          'Гранит 3',
          'Гранит',
          '180 га',
          'Выборгский р-н, Ленинградской обл.',
          '5 000 000 руб.',
          'img/lic-g3.pdf',
          'img/sch-g3.pdf',
          'map-7'
        )