.s-field-select {
  display: block;
  margin-bottom: 1rem;

  &__name {
    @include field-name;
  }

  &__input-wrap {}

  &__select {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    line-height: $line-height;
    font-size: inherit;
    font-family: inherit;
    border: 1px solid rgba(20,43,43,0.10);
    appearance: none;
    background-color: #fff;
    background-image: svg-load('../blocks/field-select/img/select-down.svg');
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1.063em 0.688em;
    height: 68px;
    border-radius: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 0.7rem;
    color: hsl(0,0,50);

    &[multiple] {
      background-image: none;
      min-height: 6.8em;
    }

    &::-ms-expand {
      display: none;
    }

    &:active,
    &:focus {
      @include field-focus;
    }

    &[disabled],
    &[readonly] {
      cursor: default;
      background-color: $gray-lightest;
    }
  }

  &__help-text {
    @include field-help-text;
  }
}
