.s-feedback {
  padding: 0 0.5rem;
  background-color: #f7f7f7;

  &__inner {
    max-width: 1170px;
    margin: auto;
    padding: 3rem 0;
  }

  &__title {
    font-size: 28px;
    line-height: 1em;
    text-align: center;
    margin-bottom: 1.5rem;

    @media (min-width: $screen-sm) {
      font-size: 40px;
    }
  }

  .s-form {
    max-width: 770px;
    margin: auto;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 1.5rem 0 1.5rem 1.5rem;
    }

    &__part {

      @media (min-width: $screen-sm) {
        padding-right: 1.5rem;

        &--name,
        &--phone,
        &--e-mail,
        &--select {
          flex-basis: 50%;
          width: 50%;
        }

        &--comment {
          flex-basis: 100%;
          width: 100%;
        }

        &--privacy {
          flex-basis: 50%;
          width: 50%;
        }

        &--submit {
          flex-basis: 50%;
          width: 50%;
          text-align: right;
        }
      }
    }
  }

  .s-field-actions {
    text-align: right;
  }
}