mixin feedback()

  section#s-feedback.s-feedback
    .s-feedback__inner
      h2.s-feedback__title Оставить заявку
      +form()
        .s-form__part.s-form__part--name
          +field-text({
            title: 'Имя',
            attrs: {
              placeholder: 'Акакий'
            }
          })
        .s-form__part.s-form__part--phone
          +field-text({
            title: 'Телефон',
            attrs: {
              placeholder: 'Nokia 3310'
            }
          })
        .s-form__part.s-form__part--e-mail
          +field-text({
            title: 'E-mail',
            attrs: {
              placeholder: 'Тот же, что и в паспорте'
            }
          })
        .s-form__part.s-form__part--select
          +field-select(
            'Выберите объект',
            {
              name: 'select',
              id: 'select'
            },
            [
              {
                title: 'Песок 1',
                attrs: {
                  value: '',
                }
              },
              {
                title: 'Песок 2',
                attrs: {
                  value: '',
                }
              },
              {
                title: 'Песок 3',
                attrs: {
                  value: '',
                }
              },
              {
                title: 'Песок 4',
                attrs: {
                  value: '',
                }
              },
              {
                title: 'Гранит 1',
                attrs: {
                  value: '',
                }
              },
              {
                title: 'Гранит 2',
                attrs: {
                  value: '',
                }
              },
              {
                title: 'Гранит 3',
                attrs: {
                  value: '',
                }
              }
            ]
          )
        .s-form__part.s-form__part--comment
          +field-text({
            title: 'Комментарий',
            isTextarea: true,
            mods: '',
            attrs: {
              name: 'test',
              placeholder: 'Текст сообщения',
            }
          })
        .s-form__part.s-form__part--privacy
          +field-checkbox([
            {
              title: 'Я согласен на обработку персональных данных',
              attrs: {
                name: 'check0',
              }
            },
          ])
        .s-form__part.s-form__part--submit
          +field-actions()
            +btn('Отправить заявку')


