.s-promo {
  background-color: #f7f7f7;
  padding: 3rem 0.5rem;

  &__title {
    text-align: center;
    font-size: 28px;
    line-height: 32px;
    margin: 0;

    @media (min-width: $screen-sm) {
      font-size: 56px;
      line-height: 60px;
    }
  }
}