mixin main-offer()

  section.s-main-offer
    .s-main-offer__inner
      .s-main-offer__cover
        .s-main-offer__map(id='map-1')
      .s-main-offer__info
        .s-main-offer__info-main
          h3.s-main-offer__title Песок 1
          dl.s-main-offer__data
            dt.s-main-offer__data-term Полезные ископаемые
            dd.s-main-offer__data-desc Пески прочие, песчано-гравийная смесь, песок строительный
            dt.s-main-offer__data-term Запасы
            dd.s-main-offer__data-desc
              | Пески 1489 тыс. м
              sup 3
              | ;
              br
              | ПГС: 2498 тыс. м
              sup 3
              | ;
              br
              | Песок строительный: 265 тыс. м
              sup 3
              | ;
            dt.s-main-offer__data-term Расположение
            dd.s-main-offer__data-desc Выборгский р-н, Ленинградской обл.
          .s-main-offer__price 34 000 000 руб.
          .s-main-offer__actions
            +btn('Оставить заявку')

        .s-main-offer__info-secondary
          .s-main-offer__links
            a(href='img/sch-p1.pdf', target='_blank')
              svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 100 100')
                path(d='M46.239 86.115H19.063a2.951 2.951 0 0 1-2.948-2.948V30.483a2.928 2.928 0 0 1 1.085-2.378c2.463-2.11 9.142-2.556 17.867-1.194a2.615 2.615 0 0 0 2.992-2.992c-1.358-8.726-.912-15.406 1.2-17.867a2.93 2.93 0 0 1 2.378-1.085h30.382a2.951 2.951 0 0 1 2.947 2.948v49.472a1.234 1.234 0 1 0 2.467 0V7.915A5.421 5.421 0 0 0 72.019 2.5H40.643a9.533 9.533 0 0 0-6.785 2.81l-17.4 17.4a9.529 9.529 0 0 0-2.811 6.785v53.672a5.42 5.42 0 0 0 5.415 5.414h27.177a1.233 1.233 0 1 0 0-2.466zM35.6 7.055c.164-.164.336-.318.512-.464-2.028 4.837-1.243 12.892-.492 17.707l-.175.175c-4.815-.751-12.868-1.538-17.706.491.145-.176.3-.346.462-.509z')
                path(d='M23.8 38.412h34.563a1.234 1.234 0 1 0 0-2.467H23.8a1.234 1.234 0 1 0 0 2.467z')
                path(d='M68.514 46.1a1.234 1.234 0 0 0-1.233-1.234H23.8a1.234 1.234 0 1 0 0 2.467h43.48a1.234 1.234 0 0 0 1.234-1.233z')
                path(d='M23.8 53.783a1.234 1.234 0 1 0 0 2.467h25.643a1.234 1.234 0 0 0 0-2.467z')
                path(d='M67.281 59.357a19.072 19.072 0 1 0 19.071 19.071 19.093 19.093 0 0 0-19.071-19.071zm0 35.676a16.6 16.6 0 1 1 16.6-16.605 16.624 16.624 0 0 1-16.6 16.605z')
                path(d='M80.087 74.324a1.653 1.653 0 0 0-1.348-1.14l-6.886-1-3.081-6.244a1.726 1.726 0 0 0-2.985 0l-3.079 6.24-6.89 1a1.665 1.665 0 0 0-.92 2.839l4.983 4.857-1.181 6.865a1.65 1.65 0 0 0 .367 1.353 1.694 1.694 0 0 0 2.048.4l6.162-3.239 6.162 3.24a1.643 1.643 0 0 0 .771.192 1.66 1.66 0 0 0 1.276-.6 1.624 1.624 0 0 0 .365-1.35L74.68 80.88l4.983-4.857a1.648 1.648 0 0 0 .424-1.699zm-7.594 5.242a1.231 1.231 0 0 0-.354 1.092l1.009 5.9-5.294-2.788a1.231 1.231 0 0 0-1.147 0l-5.3 2.784 1.011-5.9a1.231 1.231 0 0 0-.354-1.092l-4.283-4.175 5.92-.86a1.234 1.234 0 0 0 .929-.675l2.647-5.362 2.646 5.362a1.234 1.234 0 0 0 .929.675l5.92.86z')

              span Схема участка
            a(href='img/lic-p1.pdf', target='_blank')
              svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 100 100')
                path(d='M46.239 86.114H19.062a2.95 2.95 0 0 1-2.947-2.947V30.483a2.928 2.928 0 0 1 1.085-2.378c2.463-2.111 9.141-2.555 17.867-1.194a2.615 2.615 0 0 0 2.992-2.992c-1.358-8.727-.912-15.406 1.2-17.868a2.932 2.932 0 0 1 2.378-1.084h30.382a2.95 2.95 0 0 1 2.947 2.947v49.473a1.234 1.234 0 1 0 2.467 0V7.914A5.421 5.421 0 0 0 72.019 2.5H40.643a9.531 9.531 0 0 0-6.785 2.81l-17.4 17.4a9.531 9.531 0 0 0-2.81 6.785v53.672a5.421 5.421 0 0 0 5.414 5.414h27.177a1.234 1.234 0 1 0 0-2.467zM35.6 7.055c.151-.151.326-.265.487-.4C34.094 11.5 34.874 19.5 35.622 24.3l-.175.175c-4.793-.749-12.8-1.53-17.643.466.135-.16.248-.334.4-.484z')
                path(d='M23.8 38.412h34.563a1.234 1.234 0 1 0 0-2.467H23.8a1.234 1.234 0 0 0 0 2.467z')
                path(d='M68.514 46.1a1.234 1.234 0 0 0-1.233-1.234H23.8a1.234 1.234 0 0 0 0 2.467h43.481a1.234 1.234 0 0 0 1.233-1.233z')
                path(d='M23.8 53.783a1.234 1.234 0 0 0 0 2.467h25.643a1.234 1.234 0 0 0 0-2.467z')
                path(d='M67.281 59.357a19.072 19.072 0 1 0 19.071 19.072 19.093 19.093 0 0 0-19.071-19.072zm0 35.676a16.6 16.6 0 1 1 16.6-16.6 16.624 16.624 0 0 1-16.6 16.6z')
                path(d='M76.117 70.912L61.952 85.075l-4.14-4.139a1.233 1.233 0 0 0-1.744 1.744l5.012 5.012a1.231 1.231 0 0 0 1.744 0l15.037-15.036a1.233 1.233 0 0 0-1.744-1.744z')

              span Лицензия