.s-main-offer {
  padding: 0 0.5rem;
  background-color: #f7f7f7;

  @media (min-width: $screen-md) {
    padding: 3rem 0.5rem;
  }

  &__inner {
    max-width: 1170px;
    margin: auto;

    @media (min-width: $screen-md) {
      display: flex;
    }
  }

  &__cover {
    width: 100%;
    height: 270px;
    position: relative;

    @media (min-width: $screen-md) {
      height: 570px;
    }

    // img {
    //   display: block;
    //   width: 100%;
    //   height: 100%;
    //   object-fit: cover;
    // }
  }

  &__map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__info {
    padding: 0.75rem 0 1.5rem 0;
    width: 100%;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    @media (min-width: $screen-md) {
      padding-left: 1.5rem;
    }
  }

  &__info-secondary {
    padding-top: 2rem;
  }

  &__title {
    font-size: 39px;
    line-height: 60px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 0.75rem;
  }

  &__links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    flex-basis: auto;
    width: 100%;
    margin-bottom: 1.5rem;

    @media (min-width: $screen-sm) {
      flex-direction: column;
    }

    a {
      display: block;
      position: relative;
      font-size: 0.7rem;
      color: hsl(0,0,20);
      margin: 0;
      letter-spacing: 0.05em;
      font-weight: 500;

      @media (min-width: $screen-sm) {
        margin-bottom: 2rem;
      }

      &::after {
        position: absolute;
        content: '';
        top: -0.5rem;
        right: -0.5rem;
        bottom: -0.5rem;
        left: -0.5rem;
      }

      svg {
        vertical-align: baseline;
        margin-right: 0.75rem;
        width: 100px;
        height: 100px;
        transform: translate3d(10px,0,0);
      }

      span {
        position: relative;
        display: block;
      }
    }
  }

  &__data {
    font-size: 0.7rem;
    line-height: 22px;
    margin-bottom: 1.5rem;
  }

  &__data-term,
  &__data-desc {
    // display: inline;
  }

  &__data-desc +
  &__data-term::before {
    content: '\A';
    // white-space: pre;
  }

  &__data-desc +
  &__data-desc::before {
    content: ', ';
    font-weight: normal;
    margin-left: -.25em;
  }

  &__data-term {
    margin: 0;
    font-weight: 500;
    color: hsl(0,0,60);

    &::after {
      content: ':';
    }
  }

  &__data-desc {
    margin: 0;
    font-weight: 500;
    color: hsl(0,0,20);
  }

  &__price {
    font-size: 1rem;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 0.74rem;
  }
}