mixin page-header(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +page-header()
      div header content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-header--' + modsList[i].trim();
      }
    }

  header.s-page-header(class=allMods, role='banner')&attributes(attributes)
    .s-page-header__inner

      +logo('/')
        img(src='img/logo.svg', alt='Logo', width='172', height='60')

      nav.s-main-nav
        ul.s-main-nav__list
          li: a(href='#s-offers') Карьеры
          li: a(href='#s-feedback') Оставить заявку
          li: a(href='#s-page-footer') Контакты

      .s-page-header__contacts
        ul.s-page-header__phones
          li: a(href='tel:+78124483088') +7 (812) 448 30 88
          li: a(href='tel:+79675500088') +7 (967) 55 000 88

        .s-page-header__call-back
          +btn('Заказать звонок', 'ghost')(data-scroll, href='#s-feedback')