.s-page-header {
  padding: 0.5rem;
  position: relative;

  @media (min-width: $screen-lg) {

    &::after {
      position: absolute;
      content: '';
      background-color: hsla(0,0,20,0.25);
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
    }
  }

  &__inner {
    width: 100%;
    max-width: 1320px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media (min-width: $screen-lg) {
      align-items: center;
      justify-content: space-between;
    }
  }

  &__contacts {
    order: 2;
    margin-left: auto;
    display: flex;
    align-items: center;

    @media (min-width: $screen-lg) {
      flex-direction: column;
      margin-left: 0;
    }
  }

  &__phones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-self: center;
    margin-right: 3rem;
    order: 2;

    @media (max-width: ($screen-sm - 1)) {
      display: none;
    }

    @media (min-width: $screen-lg) {
      margin-right: 0;
      flex-direction: column;
      margin-left: auto;
      margin-bottom: 0.5rem;
    }

    li {
      position: relative;
      margin: 0;

      &:not(:first-child) {
        margin-left: 1.5rem;

        @media (min-width: $screen-lg) {
          margin-left: 0;

          &::before {
            display: none;
          }
        }

        &::before {
          position: absolute;
          content: '/';
          top: 45%;
          left: -0.75rem;
          transform: translate3d(0,-50%,0);
          font-size: 0.7rem;
          opacity: 0.25;
        }
      }

      a {
        color: currentColor;
        display: block;
        font-size: 0.7rem;
        opacity: 0.75;
        font-weight: 500;

        @media (min-width: $screen-lg) {
          font-size: 1rem;
        }
      }
    }
  }

  &__call-back {
    order: 2;
    align-self: center;
    margin-left: auto;
    display: none;

    @media (min-width: $screen-xs) {
      display: block;
    }

    @media (min-width: $screen-lg) {
      order: 4;
      margin-left: 3rem;
    }
  }

  .s-logo {
    order: 1;
  }

  .s-main-nav {
    order: 3;
    flex-basis: auto;
    width: 100%;
    border-top: 1px solid hsla(0,0,20,0.25);
    border-bottom: 1px solid hsla(0,0,20,0.25);
    padding: 0.5rem 0;
    margin-top: 0.5rem;

    @media (min-width: $screen-lg) {
      width: auto;
      border: 0;
      margin-top: 0;
      padding: 0;
      align-self: center;
      order: 2;
    }

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      li {
        margin: 0;

        @media (min-width: $screen-lg) {

          &:not(:last-child) {
            margin-right: 1.5rem;
          }
        }

        a {
          color: currentColor;
          font-size: 0.7rem;
          display: block;
          position: relative;
          font-weight: 500;

          &::before {
            position: absolute;
            content: '';
            top: -0.25rem;
            right: -0.25rem;
            bottom: -0.25rem;
            left: -0.25rem;
          }

          @media (min-width: $screen-xs) {
            font-size: 0.75rem;
          }

          @media (min-width: $screen-sm) {

            &::after {
              content: '';
              position: absolute;
              bottom: -0.125rem;
              left: 0;
              width: 100%;
              border-bottom: 1px solid $color-primary;
              transform: scaleX(0);
              transition: transform 0.3s cubic-bezier(0.4,0,0,1);
              transform-origin: center right;
            }
          }

          &:hover,
          &:focus {

            @media (min-width: $screen-sm) {

              &::after {
                transform: scaleX(1);
                transform-origin: center left;
              }
            }
          }
        }
      }
    }
  }
}