$font-family: Lato, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
$font-family--heading: Lato, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', ns-serif;

$font-family--sans-serif: 'Times New Roman', Times, Georgia, ns-serif;
$font-family--monospace: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', nospace;
$font-family--variable: 'Source Sans Pro Variable', sans-serif;

$bodytype: (
  font-family: $font-family,
  regular: 400,
  bold: 700,
  italic: italic
) !default;

$headingtype: (
  font-family: $font-family,
  regular: 400,
  bold: 700
) !default;

$monospacetype: (
  font-family: $font-family--monospace,
  regular: 400
) !default;

$base-font-size: 100; // Gets used as %, converts to 16px
$line-height: 1.45;

$phablet-breakpoint: 375px;
$tablet-breakpoint: 992px;

$base: ($base-font-size / 100); // We'll need this for some calculations

// Modular scale
$ratio: 1.5; // Perfect Fifth

// pow and ms functions
@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number; // Multiply by $number if exponent less than zero
    }
  } @else if $exponent < 0 {
    @for $i from 1 through -$exponent {
      $value: $value / $number; // Divide by $number if exponent less than zero
    }
  }

  @return $value;
}

@function ms($value, $ms-ratio: $ratio, $ms-base: $base) {
  $size: pow($ms-ratio, $value) * $ms-base;
  @return #{ $size + 'rem' };
}

// Vertical rhythm
@mixin line-height($number) {
  line-height: #{ $number * $line-height + 'rem'};
}

@mixin margin-top($number) {
  margin-top: #{ $number * $line-height + 'rem'};
}

@mixin margin-bottom($number) {
  margin-bottom: #{ $number * $line-height + 'rem'};
}

// Headings parameters
// [ h1: font-size: [3 value from scale], line-height: 2 × $line-height, margin-top: 3 × $line-height, margin-bottom: 1 × $line-height ]
$rhythm-levels: (
  h1: (3, 2.5, 3, 1.5),
  h2: (2, 2, 2, 1),
  h3: (1, 1.5, 2, 0.5),
  h4: (0, 1, 1.5, 0.5),
  h5: (0, 1, 1, 1),
  h6: (0, 1, 1, 1)
);

// Set line-heights and margins for headings
// @each $rhythm-level, $properties in $rhythm-levels {
//   #{$rhythm-level} {
//     font-size: ms(nth($properties, 1));
//     @include line-height(nth($properties, 2));
//     @include margin-top(nth($properties, 3));
//     @include margin-bottom(nth($properties, 4));
//   }
// }

$font-size--small:            ms(-1);
$font-size--accent:           ms(1);

@mixin debug-rhythm {
  background: linear-gradient(to bottom, rgba($gray, 0.3) 1px, transparent 1px);
  background-size: 100% #{$line-height + 'rem'};
}