.s-btn {
  position: relative;
  display: inline-block;
  background-color: $color-primary;
  background-image: none;
  color: #fff;
  margin: 0;
  padding: 1.2em 1.5em;
  border-radius: 0;
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1.2em;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;
  transition: all 0.25s ease-in-out 0s;

  &:hover,
  &:focus {
    background-color: #1f7633;
  }

  &:active,
  &:focus {}

  &:visited {}

  &--ghost {
    border: 1px solid $color-primary;
    background-color: transparent;
    color: #333;

    &:hover,
    &:focus {
      background-color: $color-primary;
      color: #fff;
    }
  }

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;
    color: $text-color;
    background-color: $gray-lightest;
    border-color: $gray-lighter;

    @at-root a.s-btn--disabled {
      pointer-events: none;
    }
  }
}