.s-field-text {
  display: block;
  margin-bottom: 1rem;

  &__name {
    @include field-name;
  }

  &__input-wrap {
    display: block;
  }

  &__input {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin: 0;
    font-size: 1em;
    font-family: inherit;
    background: #fff;
    border: 1px solid rgba(20,43,43,0.10);
    appearance: textfield;
    height: 68px;
    border-radius: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 0.7rem;

    &:focus {
      @include field-focus;
    }

    &[disabled],
    &[readonly] {
      cursor: default;
      background-color: $gray-lighter;
    }

    &[type='search']::-webkit-search-cancel-button,
    &[type='search']::-webkit-search-decoration {
      -webkit-appearance: none; // stylelint-disable-line  property-no-vendor-prefix
    }

    &[type='number']::-webkit-inner-spin-button,
    &[type='number']::-webkit-outer-spin-button {
      // height: auto;
    }

    &[type='color'] {
      // max-width: 100px;
      padding: 0;
    }

    &::placeholder {
      opacity: 1;
      color: hsl(0,0,50);
    }

    @at-root textarea#{&} {
      $textarea-height: 7rem;
      height: auto;
      min-height: calc(#{$textarea-height} + 2px);
      resize: vertical;
      padding-top: 1.5rem;
    }
  }

  &__help-text {
    @include field-help-text;
  }
}
