include mixins.pug

doctype html
html(class='no-js s-page', lang='ru')

  head
    meta(charset='utf-8')
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name='viewport', content='width=device-width, initial-scale=1, viewport-fit=cover')
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(name='google' value='notranslate')
    meta(name='msapplication-TileColor', content='#5bbad5')
    meta(name='theme-color', content='#000')
    meta(name='msapplication-navbutton-color', content='#000')
    meta(name='apple-mobile-web-app-status-bar-style', content='#000')

    block meta
      title Home

    block head
      link(rel='stylesheet', href='css/style.min.css')
      script.
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

  body
    noscript JavaScript is disabled

    include ../blocks/sprite-svg/img/sprite-svg.svg

    .s-page__inner
      .s-page__content
        block header
          p Header
        block content
          p Page Content

      .s-page__footer-wrapper
        block footer
          p Footer

    block page-bottom
      script(src='https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@16.0.3/dist/smooth-scroll.polyfills.min.js')
      script(src='js/script.min.js')

      script.
        var mapOne, mapTwo, mapThree, mapFour, mapFive, mapSix, mapSeven, mapLocation;
        var markerOne, markerTwo, markerThree, markerFour, markerFive, markerSix, markerSeven, markerLocation;

        function initMap() {
          mapOne = new google.maps.Map(document.getElementById('map-1'), {
            center: {lat: 60.687222, lng: 28.398333},
            zoom: 10
          });
          markerOne = new google.maps.Marker({
            position: {lat: 60.687222, lng: 28.398333},
            map: mapOne
          });

          mapTwo = new google.maps.Map(document.getElementById('map-2'), {
            center: {lat: 60.669722, lng: 28.4175},
            zoom: 10
          });
          markerTwo = new google.maps.Marker({
            position: {lat: 60.669722, lng: 28.4175},
            map: mapTwo
          });

          mapThree = new google.maps.Map(document.getElementById('map-3'), {
            center: {lat: 60.283333, lng: 32.680556},
            zoom: 10
          });
          markerThree = new google.maps.Marker({
            position: {lat: 60.283333, lng: 32.680556},
            map: mapThree
          });

          mapFour = new google.maps.Map(document.getElementById('map-4'), {
            center: {lat: 59.666944, lng: 31.086389},
            zoom: 10
          });
          markerFour = new google.maps.Marker({
            position: {lat: 59.666944, lng: 31.086389},
            map: mapFour
          });

          mapFive = new google.maps.Map(document.getElementById('map-5'), {
            center: {lat: 60.960278, lng: 29.518333},
            zoom: 10
          });
          markerFive = new google.maps.Marker({
            position: {lat: 60.960278, lng: 29.518333},
            map: mapFive
          });

          mapSix = new google.maps.Map(document.getElementById('map-6'), {
            center: {lat: 60.888333, lng: 28.411111},
            zoom: 10
          });
          markerSix = new google.maps.Marker({
            position: {lat: 60.888333, lng: 28.411111},
            map: mapSix
          });

          mapSeven = new google.maps.Map(document.getElementById('map-7'), {
            center: {lat: 60.8675, lng: 29.4025},
            zoom: 10
          });
          markerSeven = new google.maps.Marker({
            position: {lat: 60.8675, lng: 29.4025},
            map: mapSeven
          });

          mapLocation = new google.maps.Map(document.getElementById('map-location'), {
            center: {lat: 59.924346, lng: 30.2786014},
            zoom: 16
          });
          markerLocation = new google.maps.Marker({
            position: {lat: 59.924346, lng: 30.2786014},
            map: mapLocation
          });
        }
      script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyB280aq9wKOA5w-EuePhWxtjvTr8l1xTQY&callback=initMap' async defer)
