.s-item-card {
  display: flex;
  flex-direction: column;

  &__cover {
    width: 100%;
    height: 300px;
    margin-bottom: 0.75rem;
    display: block;
    position: relative;

    // img {
    //   width: 100%;
    //   height: 100%;
    //   display: block;
    //   object-fit: cover;
    // }
  }

  &__map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__title {
    font-size: 39px;
    line-height: 60px;
    margin: 0;
    margin-bottom: 1rem;
    flex-basis: auto;
    width: 100%;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    flex-basis: auto;
    width: 100%;

    a {
      display: block;
      position: relative;
      font-size: 0.7rem;
      color: hsl(0,0,60);
      margin: 0;
      letter-spacing: 0.05em;
      font-weight: 500;

      &::after {
        position: absolute;
        content: '';
        top: -0.5rem;
        right: -0.5rem;
        bottom: -0.5rem;
        left: -0.5rem;
      }

      svg {
        vertical-align: baseline;
        margin-right: 0.75rem;
      }

      span {
        position: relative;

        @media (min-width: $screen-sm) {

          &::before {
            content: '';
            position: absolute;
            bottom: -0.125rem;
            left: 0;
            width: 100%;
            border-bottom: 1px solid currentColor;
            transform: scaleX(1);
            transition: transform 0.3s cubic-bezier(0.4,0,0,1);
            transform-origin: center left;
          }
        }
      }

      &:hover,
      &:focus {

        span {

          @media (min-width: $screen-sm) {

            &::before {
              transform: scaleX(0);
              transform-origin: center right;
            }
          }
        }
      }
    }
  }

  &__header {
    border-top: 5px solid currentColor;
    border-bottom: 5px solid currentColor;
    padding: 0.25rem 0 0.75rem 0;
  }

  &__info {
    padding: 0.75rem 0 0.75rem 0;
  }

  &__data {
    font-size: 0.7rem;
    line-height: 22px;
    margin-bottom: 1.5rem;
  }

  &__data-term,
  &__data-desc {
    display: inline;
  }

  &__data-desc +
  &__data-term::before {
    content: '\A';
    white-space: pre;
  }

  &__data-desc +
  &__data-desc::before {
    content: ', ';
    font-weight: normal;
    margin-left: -.25em;
  }

  &__data-term {
    margin: 0;
    font-weight: 500;
    color: hsl(0,0,60);

    &::after {
      content: ':';
    }
  }

  &__data-desc {
    margin: 0;
    font-weight: 500;
    color: hsl(0,0,20);
  }

  &__price {
    font-size: 1rem;
    font-weight: 700;
    line-height: 22px;
  }

  &__actions {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
  }
}