mixin item-card(title, firstDesc, secondDesc, thirdDesc, price, certificate, map, id)

  article.s-item-card
    .s-item-card__cover
      .s-item-card__map(id=id)
    .s-item-card__header
      h3.s-item-card__title #{title}
      .s-item-card__links
        a(href=map, target='_blank')
          +svg-icon('arrow', 14, 10)
          span Схема участка
        a(href=certificate, target='_blank')
          +svg-icon('mark', 11, 10)
          span Лицензия
    .s-item-card__info
      dl.s-item-card__data
        dt.s-item-card__data-term Полезные ископаемые
        dd.s-item-card__data-desc #{firstDesc}
        dt.s-item-card__data-term Запасы
        dd.s-item-card__data-desc #{secondDesc}
        dt.s-item-card__data-term Расположение
        dd.s-item-card__data-desc #{thirdDesc}
      .s-item-card__price #{price}
    .s-item-card__actions
      +btn('Оставить заявку', 'ghost')