.s-page-footer {
  position: relative;
  padding: 0 0.5rem;

  &__map {
    width: 100%;
    height: 300px;

    @media (min-width: $screen-sm) {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__inner {
    position: relative;
    max-width: 1170px;
    margin: auto;

    @media (min-width: $screen-lg) {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }

  &__info {
    background-color: #fff;
    font-size: 0.75rem;
    padding: 1.5rem 0.5rem 0;
    max-width: 470px;

    @media (min-width: $screen-lg) {
      padding: 3rem 2rem;
    }
  }

  &__company {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

  &__phones,
  &__e-mail,
  &__address,
  &__website {
    margin-bottom: 1.5rem;
    line-height: 1.6em;
    color: hsl(0,0,50);

    strong {
      display: block;
      position: relative;
      margin-bottom: 0.25rem;
      color: hsl(0,0,20);

      &::after {
        content: ':';
      }
    }

    a {
      color: currentColor;
      display: block;
    }
  }

  &__website {
    margin-bottom: 0;
  }
}