mixin page-footer(mods)

  //- Param:
    mods  {string} - modifiers

  //- Use:
    +page-footer()
      div footer content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-footer--' + modsList[i].trim();
      }
    }

  footer#s-page-footer.s-page-footer(class=allMods, role='contentinfo')&attributes(attributes)
    #map-location.s-page-footer__map
    .s-page-footer__inner
      .s-page-footer__info
        .s-page-footer__company ООО “Группа Компаний “Специалист”
        .s-page-footer__phones
          strong Телефон
          a(href='tel:+78124483088') +7 (812) 448-30-88
          a(href='tel:+79675500088') +7 (967) 55-000-88
        .s-page-footer__e-mail
          strong E-mail
          a(href='mailto:aat@specialist-sk.ru') aat@specialist-sk.ru
        address.s-page-footer__address
          strong Адрес
          | 190121, Санкт-Петербург, ул. Александра Блока, д. 5
        .s-page-footer__website
          strong Сайт
          a(href='http://specialist-geo.ru/') specialist-geo.ru