extends pug/layout.pug

block meta
  - var title = 'Main';
  title= title
  meta(name='description', content='')

block header
  +page-header()

block content
  +promo()
  +main-offer()
  +offers()
  +feedback()

block footer
  +page-footer()
