@font-face {
  font-family: Lato;
  src: url('../fonts/lato-400-normal.woff2') format('woff2'),
       url('../fonts/lato-400-normal.woff') format('woff'),
       url('../fonts/lato-400-normal.ttf') format('truetype');;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Lato;
  src: url('../fonts/lato-500-normal.woff2') format('woff2'),
       url('../fonts/lato-500-normal.woff') format('woff'),
       url('../fonts/lato-500-normal.ttf') format('truetype');;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Lato;
  src: url('../fonts/lato-700-normal.woff2') format('woff2'),
       url('../fonts/lato-700-normal.woff') format('woff'),
       url('../fonts/lato-700-normal.ttf') format('truetype');;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}