.s-field-checkbox {
  display: block;
  margin-bottom: 1rem;

  &__title {
    display: block;
    font-weight: 700;
    line-height: $line-height;
    margin-bottom: 0.4em;
  }

  &__input-wrap {

    & + & {
      margin-top: 1rem;
    }
  }

  &__name {
    position: relative;
    display: inline-block;
    padding-left: 2rem;
    margin-right: 0.5rem;
    font-weight: 400;
    line-height: $line-height;
    font-size: 0.7rem;
    line-height: 1.2em;
  }

  &__name-text {
    display: inline-block;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      border: 1px solid rgba(20,43,43,0.10);
      background-color: #fff;
      border-radius: 0;
    }

    @at-root input:focus ~ &:before {
      @include field-focus;
    }

    &:after {
      content: '';
      position: absolute;
      top: 1px;
      left: 4px;
      width: 18px;
      height: 9px;
      opacity: 0;
      border-left: 1px solid currentColor;
      border-bottom: 1px solid currentColor;
      transform: rotate(-45deg);
      transition: opacity 0.3s;

      @at-root input:checked ~ & {
        opacity: 1;
      }
    }
  }

  &__input {
    position: absolute;
    top: 0.7em;
    left: 0;
    padding: 0;
    margin: 0;
    transform: translateY(-50%);
    opacity: 0;

    &:focus,
    &:active {
      @include field-focus;
    }
  }

  &__help-text-wrap {
    padding-left: 1.5em;
  }

  &__help-text {
    @include field-help-text;
  }
}
